# Dependencias de Node.js
node_modules/

# Logs
npm-debug.log*
*.log

# Variables de entorno
.env
.env.local

# Firebase Service Account (SECRETO)
serviceAccountKey.json

# Backup / legacy
server.old.js
server.js
models.js
seed.js

# Sistema operativo
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
